<%- include("header") -%>

<div style="margin: 10% auto;">
    <h2 style="text-align: center;">This is the About Page.</h2>
    
    <div style="width: 50%; margin: 10px auto;">
        <p style="text-align: center;">I am Ajaj Ahmad.
            I created this website so that all of you can take note of what you want to do in your daily life or week life
            or
            for future reference which you, if not written down, forget.
        </p>
    </div>
</div>

<%- include("footer") -%>
