<%- include("header") -%>

   <div style="margin: 10% auto;">
        <h2 style="text-align: center;">This is the Contact page</h2>
        
        <p style="text-align: center;">Email - ajaj121ahmad@gmail.com<br>
            phone no- 9********0<br>
            Address - 123 colony lucknow <br>
            sultanpur, 22*****<br>
            Uttar Pradesh
        </p>

   </div>
    <%- include("footer") -%>